*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Roboto';
    src: url(../Font/Roboto.ttf);
}
.Container{
    width: 100%;
}
header{
    width: 100%;
    background-color: #6B6B6B;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    height: 70px;
}
header img{
    margin-top: 25px;
    margin-left: 144px;
}
header ul{
    display: flex;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #FFFFFF;
gap: 40px;
margin-top: 25px;
margin-left: 600px;
list-style: none;
}
.Container1{
    width: 100%;
    background: #EBEBEB;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.Container1__box1{
    margin-top: 165px;
    margin-left: 144px;
}
.Container1__box1 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 45px;
color: #333333;
}
.Container1__box1 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
color: #333333;
padding-top:10px;
width: 576px;
}
.Container1__box1 input{
    height: 50px;
width: 357px;
margin-top: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #000000;
border: none;
cursor: pointer;
}
.Container1__box2{
    margin-top: 64px;
    margin-left: 194px;
    margin-bottom: 50px;
}
.Container1__box2 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
text-align: center;
color: rgba(0, 0, 0, 0.5);
width: 320px;
}
.Container2{
    width: 100%;
    background: #D3D3D3;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding-top: 52px;
    padding-left: 154px;
    padding-bottom: 52px;
}
.Container3{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom:76px;
}
.Container3__box3{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 191px;
    margin-left: 164px;
}
.Container3__box3-item3 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
color: #000000;
}
.Container3__box3-item3 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #000000;
margin-top: 14px;
width: 509px;
}
.Container3__box3-item4{
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
        margin-top: 1px;
        margin-left: 194px;
        margin-bottom: 50px;
    
    }
    .Container3__box3-item4 p{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    width: 320px;
    }
    .Container3__box4{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .Container3__box4-item1{
        height: 249px;
width: 576px;
margin-top: 5px;
margin-left: 144px;
justify-content: center;
align-items: center;
    }
    .Container3__box4-item1 p{
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
color:#777777;
padding-top: 10px;
padding-left: 40px;
}
.Container3__box4-item2{
    height: 249px;
    width: 576px;
    margin-top: 10px;
    margin-left: 144px;
    justify-content: center;
    align-items: center;
}
.Container3__box4-item2 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 36px;
color: #000000;
padding-top: 68px;
}
.Container3__box4-item2 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #000000;
padding-top: 10px;
}
.Container4{
    background: #EBEBEB;
    text-align: center;
}
.Container4 h1{
    padding-top: 89px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 36px;
color: #333333;
}
.Container4 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #333333;
padding-top: 10px;
padding-bottom: 30px;
}
.p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
text-align: center;
color: #777777;
padding-top: 10px;
}
.Container4 img{
    padding-bottom: 5px;
}
.Container4__items{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;

}
.Container4__items-order1{
    height: 316px;
width: 364px;
border-radius: 5px;
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
text-align: center;
}
.Container4__items-order1 h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #333333;
padding-top: 30px;
}
.Container4__items-order1 img{
    padding-top: 31px;
}
.Container4__items-order1 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #333333;
text-align: center;
padding-top: 40px;
padding:40px 5px;
}
span{
    color: rgb(235, 239, 243);
    background-color: blue;
}
.Container5 h1{
margin-top: 99px;
margin-left: 155px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
color: #333333;
}
.Container5__box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 41px;
}
.Container5__box-item1{
    height: 333px;
width: 298px;
text-align: center;
margin-top: 35px;
margin-bottom: 87px;

}
.Container5__box-item1 img{
    margin-left: 0px;
}
.Container5__box-item1 h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #333333;
padding-left: 20px;
padding-top: 5px;
text-align: start;
}
.Container5__box-item1 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #333333;
padding-left: 20px;
text-align: start;
padding-top: 10px;
}
footer{
    background: #111111;
}
footer p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #777777;
padding-top: 15px;
padding-left: 144px;
padding-bottom: 15px;
}